.main-card-footer-container {
  display: block;
}

.main-card-footer {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 12px;
}

.main-card-footer--mobile {
  align-items: initial;
  gap: 14px;
}

.main-card-footer-mobile {
  display: none;
}

.main-card-footer__legend {
  color:gray;
  font-size:14px;
  font-weight: 400;
}

.main-card-footer__buttons {
  display: flex;
  gap: 8px;
}

.main-card-footer__buttons--mobile {
  justify-content: space-between;
}

.main-card-footer-dates {
  display: flex;
  flex-direction: column;
  gap: 4px
}

/* MediaQuery */

@media (max-width: 1200px) {
  .main-card-footer {
    margin: 0px 0px 12px;
    flex-direction: column;
    gap: 8px;
  }
  .main-card-footer-container {
    display: flex;
    flex-direction: column;
  }
  .main-card-footer__buttons {
    justify-items: start;
    margin-bottom: 12px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 12px;
  }
  .main-card-footer-mobile {
    display: flex;
  }
  .main-card-footer-container-mobile {
    display: block;
  }
  .main-card-footer-dates {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px 12px;
  }
}
