.custom-card-body.n-scrollbar {
  padding: 0px;
  font-size: 1rem;
}

.custom-card.n-card .n-scrollbar-content {
  padding: 12px 32px;
}

.custom-card.n-card > .n-card__content {
  padding: 0px;
}

.custom-card .n-card-header {
  border-bottom: 1px solid #eee;
}

.custom-card-body {
  max-height: calc(100vh - 170px);
  overflow-y: hidden;
}

.custom-card-body--tabs {
  height: calc(100vh - 170px);
}

.custom-card-body>.n-scrollbar-container>.n-scrollbar-content {
  padding: 0px;
}
.custom-card-body .n-tabs-nav--line-type.n-tabs-nav--top.n-tabs-nav {
  padding: 0px 25px;
}

.custom-card-body .n-tabs-tab__label {
  padding: 4px 0px 8px;
}

.custom-card-body h3 {
  font-size: 1.3rem;
}
