:root {
  --body-color: rgba(0, 0, 0, 0.87);
  --text-shadow: 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white;
  --gray-color: #ececec;
  --gray-color-light: #fafafa;
  --primary-color: #e96f5f;
  --label-color: #827e7e;
  --embed-color: #fafafa;

  --padding-container: 200px;
}


/* MediaQuery */

@media (max-width: 1368px) {
  :root {
    --padding-container: 20px;
  }
}
