/* Map styles */

.map-container {
  min-height: 440px !important;
}

.mct-canva {
  width: 100%;
  height: 440px;
  display: flex;
  justify-content: center;
}

.mct-canva__chart {
  padding-top: 25px;
  width: 100%;
}

.mct__canva-section {
  position: relative;
}

/* Map Year */

.mct-canva-year {
  border-radius: .25rem;
  color: var(--body-color);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0px auto;
  max-width: fit-content;
  padding: 6px 24px;
  position: absolute;
  right: 10px;
  bottom: 5px;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  user-select: none;
}


/* MediaQuery */

@media (max-width: 800px) {
  .map-container {
    min-height: 337.6px !important;
  }
  .mct-canva {
    height: 70vw;
  }
}
